
        {% include 'header.html'%}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Hi! my name is Truc Huynh. I am a software developer currently seeking a software development internship or remote job. I am comfortable and enjoy working on software development. My projects included:</p>
                        <ul>
                            <li>Machine Learning, Deep Learning (Programming Languages: R, Python | Tools/ Framework: OpenCV, RStudio, RShiny, Matplotlib, Pandas) </li>
                            <li>Full Stack Web Development (Programming Languages: Python, HTML, CSS, JavaScript, MySQL | Tools/ Framework: Flask, Jinja, Bootstrap 5)</li>
                            <li>Backend Development (Programming Languages: Python, Java, C# | Tools/ Framework: .NET, Apache TomCat)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
      {% include 'footer.html' %}